<div class="container mt-4">
  <div class="row mbr-justify-content-center">

    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-volume-up fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Som</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Equipe técnica preparada</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Calendário
                </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Escolha as melhores datas!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-globe fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Grandes Evento!
                </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Sucesso nos seus eventos!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-trophy fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Vença!</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">O prêmio é o seu sucesso!</p>
            </div>
        </div>
    </div>

</div>